<a href="https://colab.research.google.com/github/AhmadFirmanto/Statistik/blob/main/confiden_interval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#library

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from numpy import sqrt
import random

#data

In [3]:
data = np.array([random.choice(range(10, 40)) for i in range(30)])

populasi = pd.DataFrame({'A' : data})
populasi

     A
0   20
1   25
2   37
3   20
4   23
5   21
6   11
7   14
8   12
9   24
10  15
11  34
12  13
13  23
14  13
15  10
16  39
17  20
18  34
19  19
20  26
21  33
22  16
23  14
24  29
25  34
26  37
27  13
28  26
29  25

In [6]:
populasi = data
populasi

array([20, 25, 37, 20, 23, 21, 11, 14, 12, 24, 15, 34, 13, 23, 13, 10, 39,
       20, 34, 19, 26, 33, 16, 14, 29, 34, 37, 13, 26, 25])

#confidence interval

In [7]:
sampel = np.array([20, 25, 37, 20, 23, 21, 11, 14, 12, 24])

data_sampel = pd.DataFrame(sampel)
data_sampel

    0
0  20
1  25
2  37
3  20
4  23
5  21
6  11
7  14
8  12
9  24

* mengambil 10 data untuk di jadikan sampel

In [8]:
data_sampel.describe()

               0
count  10.000000
mean   20.700000
std     7.572611
min    11.000000
25%    15.500000
50%    20.500000
75%    23.750000
max    37.000000

* standar deviasi sample = 7.57
* n sampel = 10
* cl = 95%
* rata-rata sampel = 20.70

In [9]:
confiden_interval = stats.norm.interval(0.95, loc=20.70, scale=7.57/sqrt(10))
confiden_interval

#interval 95%
#loc= rata-rata sampel
#scale= rumus confiden interfal = standar deviasi sampel / akar rata-rata sampel

(16.00815160545447, 25.39184839454553)

* hasil
* 16.00 s/d 25.39
* estimasi rata-rata 16.00 s/d 25.39